<html>
<head>
  <meta charset="UTF-8"> 
 
<body>      
   
    <h1> this data belongs to <%=lala.username %>  </h1>  
    <p> username =  <%=lala.username %>  </p>   
    <p> password =  <%=lala.password %>  </p>   
</body>
</html>
